body {
	margin-left: 0px;
	margin-top: 0px;
	background-color: #344253;
	font: medium, "Lucida Grande", Lucida, Verdana, sans-serif;
}

#logo {
	margin: 0 auto;
	width: 193px;
	height: 51px;
	position: absolute;
	z-index: 8;
	top: 0px;
	left: 10px;
	background-image:url(../img/sixwar_logo.png);
}

#infoBar {
	margin: 0 auto;
	width: 156px;
	height: 98px;
	position: absolute;
	z-index: 8;
	top: 133px;
	left: 14px;
	background-color:#131614;
	padding: 25px 0px 0px 23px;
	color: #686868;
	font: "Lucida Grande", Lucida, Verdana, sans-serif;
}

#infoContent {
	margin: 0 auto;
	width: 159px;
	height: 65px;
	position: absolute;
	z-index: 8;
	top: 135px;
	left: 14px;
	background-color:#383838;
	background-image: url(../img/infoContentBkg.png);
	background-repeat: repeat-x;
	padding: 10px;
	color: white;
}

#mapWindow {
	margin: 0 auto;
	width: 900px;
	height: 600px;
	padding: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
	background-image:url(../img/board_bkg.png);
	background-repeat: no-repeat;
}

#fogCanvas1 {
	font: 45px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#fogCanvas2 {
	font: 45px "Lucida Grande", Lucida, Verdana, sans-serif;
}

#pageCredits{
	margin: 0 auto;
	position: absolute;
	top: 670px;
	left: 14px;
	font-size: 12px;
	color: #999;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.noDialogClose .ui-dialog-titlebar-close {display:none}

.noDialogTitle .ui-dialog-titlebar {display:none}

